<configuration debug="true">
    <!-- Console Appender -->
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <target>System.err</target>
    </appender>

    <!-- Per Package Config -->
    <logger name="com.warren_r" level="debug"/>
    <logger name="org.apache" level="off" />
    <logger name="org.spark_project" level="off" />


    <!-- Root Logger -->
    <root level="warn">
        <appender-ref ref="STDERR"/>
    </root>
</configuration>